* {
    font-family: "Carter One", serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    text-decoration: none;
}
.background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.flecha {
    display: none;
}
header a:hover{
    color: #a71a1a;
}
header nav{
    display: flex;
    border-top: #a71a1a 0.4rem solid;
    border-bottom: #a71a1a 0.4rem solid;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}
.logoprincipal img {
    display: flex;
    border-radius: 0.7rem;
    height: 8rem;
}
.menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
    width: 100%;
}
header nav .menu li input{
    border-radius: 9rem;
    height: 1.8rem;
}
header nav .menu li button{
    border-radius: 9rem;
    height: 1.8rem;
}
.menu form button:hover {
    background-color: #a71a1a;
    color: #fff;
    cursor: pointer;
}
#container{
    display: none;
}
#container nav ul{
    background-color: #a71a1a;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 5rem;
    width: 100%; 
    font-size: 0.8rem;
    gap: 10%;
    border-radius: 1rem;
    a{
        color: #fff;
    }
}


main {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows:  repeat(5, 320px);
    gap: 10rem;
    margin-top:3%;
    margin-bottom: 10%;
    justify-content: center;
}
main section{
    display: grid;
    align-items: center;
}
main section:hover {
    cursor: pointer;
}
main section img {
    transition: transform 0.3s;
    
}
main section:hover img {
    transform: scale(1.05);
}
main section ul {
    text-align: center;
    align-items: center;
    padding: 1%;
    border: #a71a1a 1px solid;
    border-radius: 1rem;
    list-style: none;
    backdrop-filter: blur(2rem);
}
main section ul:hover {
    cursor: pointer;
    background-color: #a71a1a;
    p{ color: #fff;}
    transform: scale(0.95);
}
.precio{
    font-size: 1.1rem;
 }


footer nav{
    display: flex;
    border-top: #a71a1a 0.4rem solid;
    border-bottom: #a71a1a 0.4rem solid;
    border-radius: 1rem;
    backdrop-filter: blur(2rem);
}
footer .menu img {
    border-radius: 20%;
}
footer .menu img:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.copy, .contacto {
    display: flex;
    font-size: 1.2rem;
    margin: auto;
}
#insta img{
    width: 4.5rem;
    height: 4.5rem;
}
#x img{
    width: 3rem;
    height: 3rem;
}
#yt img{
    width: 5.4rem;
    height: 4.4rem;
}


.sidebar1 nav {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    left: 0;
    top:1;
    width: 10%;
    margin-top: 2rem;
    border-right: #a71a1a 0.4rem solid;
    border-top: #a71a1a 0.4rem solid;
    border-bottom: #a71a1a 0.4rem solid;
    margin-left: -30%;
    border-radius: 1rem;
    backdrop-filter: blur(2rem);
}
.sidebar1 ul{
    list-style: none; 
}
.sidebar1 nav ul .l1{
    margin-left: -20%;
}
header:hover + .sidebar1 nav{
    margin-left: 1rem;
    transition: margin 1s ease-out;
}

.sidebar2 nav {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    right: 0;
    top:2;
    width: 10%;
    margin-top: 2rem;
    margin-right: -30%;
    border-left: #a71a1a 0.4rem solid;
    border-top: #a71a1a 0.4rem solid;
    border-bottom: #a71a1a 0.4rem solid;
    border-radius: 1rem;
    backdrop-filter: blur(2rem);
}
.sidebar2 nav ul{
    display: grid;
    gap: 0.8rem;
    list-style: none;
}
header:hover + .sidebar1 + .sidebar2 nav {
    margin-right: 1rem;
    transition: margin 1s ease-out;
}

@media (max-width: 1500px) {
    .sidebar1, .sidebar2 {
        display: none;
    }
}
@media (max-width: 1200px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, 270px);
    }
}
@media (max-width: 880px) {
    .logoprincipal img{
        margin-right: 0px;
        height: 8rem;
        margin: auto;
    }
    main{
        display: grid;
        grid-template-columns: repeat(1, 300px);
    }
    .noshow {
        display: none;
    }
    .show{
        display: flex;
        margin-left: -2rem;
    }
    .flecha{
        display: flex;
        margin-left: -2rem;
    }
    header li button {
        display: flex;
        margin-left: 2.8rem; 
    }
    header li input{
        text-align: center;
    }
    nav:hover + #container{
        display: block;
    }
}